<ion-tabs>
    <ion-tab-bar slot="bottom" class="tabs">
        <ion-tab-button tab="profile" class="tab">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Mein Status</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="recommendation" class="tab">
            <img class="icon" src="assets/shield.png">
            <ion-label>Empfehlungen</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="more" class="tab">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            <ion-label>Mehr</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
