
.icon {
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 10px;
}

.label {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
}

.title {
  font-size: 26px;
  text-align: left;
  font-weight: bold;
}


