<app-appheader [title]="'Verhaltensempfehlungen'"></app-appheader>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="link-outline"></ion-icon>
                <h5>Bundesministerium für Gesundheit</h5>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>Hier finden Sie aktuelle Informationen<br></ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="link-outline"></ion-icon>
                <h5>Robert Koch Institut</h5></ion-card-title>
        </ion-card-header>
        <ion-card-content>Hier finden Sie aktuelle Informationen</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="link-outline"></ion-icon>
                <h5>Bundeszentrale für gesundheitliche Aufklärung</h5>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>Hier finden Sie aktuelle Informationen</ion-card-content>
    </ion-card>

</ion-content>
